<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Guia Perguntas</title>
</head>
<body>
    <h1>Gui perguntas</h1>
    <p>Nome: <%= nome %></p>
    <p>lang: <%= lang %></p>
    <p>empresa: <%= empresa %></p>
    <p>inscritos: <%= inscritos %></p>
    
    <% if(msg == true) { %>
        <h3>Esta é uma mensagem de erro!!</h3>
    <% } %>

</body>
</html>